<!doctype html>
<html ng-app="SocialCount">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="app.js"></script>
    <script src="SocialCount.ctrl.js"></script>
    <script src="SocialCount.srv.js"></script>
    <script src="Provider.srv.js"></script>
</head>

<body ng-controller="SocialCountController as vm">
    <div class="container">
        <!-- Page Content goes here -->
        <div class="row">
            <nav>
                <div class="nav-wrapper #e3f2fd blue z-depth-3">
                    <a href="#" class="brand-logo center"> Social Counter</a>
                </div>
            </nav>
        </div>
        <div class="row">
            <!-- Providers -->
            <div class="col s2">
                Providers
                <form>
                    <p ng-repeat="provider in vm.providers">
                        <input type="checkbox" id="{{provider.name}}" ng-model="provider.selected" />
                        <label for="{{provider.name}}">{{provider.name}}</label>
                    </p>
                </form>
            </div>
            <!-- Pages -->
            <div class="col s5 z-depth-1">
                Urls
                <a class="btn-floating btn-medium waves-effect waves-light red right z-depth-3" ng-click="vm.addUrl()"><i class="material-icons">add</i></a>
                <form>
                    <div ng-repeat="url in vm.urls track by $index" class="input-field col s12">
                        <input placeholder="for example: http://www..." id="url.url" type="text" ng-model="url.url">
                    </div>
                </form>
            </div>
            <!-- Results -->
            <div class="col s5">
                <form ng-submit="vm.getSocialCount()">
                    <button class="btn waves-effect #ffe57f amber accent-3 waves-light z-depth-3" type="submit" name="action">Go!
                        <i class="material-icons right">send</i>
                    </button>
                    <div ng-repeat="result in vm.results track by $index">
                        <h4>{{result.provider}}</h4>
                        <div ng-repeat="page in result.pages track by $index">
                            <div class="card #e3f2fd blue lighten-2 z-depth-3">
                                <div class="card-content white-text">
                                    <span class="card-content ">{{page.page}}</span>
                                </div>
                                <div class="card-action">
                                    <div class="collection">
                                        <p class="collection-item" ng-repeat="counter in page.counters track by $index">{{counter.name}}<span class="badge">{{counter.count|number}}</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            </form>
            <div class="preloader-wrapper active" ng-show="vm.loading">
                <div class="spinner-layer spinner-red-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>
